@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Roboto');

html,body,#root {
  height: 100%;
}
.App {
  background-color: #232323;
  height: 100%;
  display: block;
}

.App-logo {
  height: 80px;
}

.App-header {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Alegreya Sans SC', sans-serif;
}

.App-title {
  margin-top: 25px;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: #ECC355;
}

.App-intro {
  font-size: large;
}

.social {
  margin-top: 40px;
}

.social ul {
  list-style: none;
  padding: 0;
}

.social li {
  display: inline-block;
  margin-left: 15px;
}

.social li:first-child {
  margin-left: 0px;
}

.social-logo {
  width: 36px;
}
